html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* heebo-regular - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/heebo-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v17-latin-regular.woff2") format("woff2"), url("../fonts/heebo-v17-latin-regular.woff") format("woff"), url("../fonts/heebo-v17-latin-regular.ttf") format("truetype"), url("../fonts/heebo-v17-latin-regular.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* heebo-500 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/heebo-v17-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v17-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v17-latin-500.woff2") format("woff2"), url("../fonts/heebo-v17-latin-500.woff") format("woff"), url("../fonts/heebo-v17-latin-500.ttf") format("truetype"), url("../fonts/heebo-v17-latin-500.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* heebo-700 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/heebo-v17-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v17-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v17-latin-700.woff2") format("woff2"), url("../fonts/heebo-v17-latin-700.woff") format("woff"), url("../fonts/heebo-v17-latin-700.ttf") format("truetype"), url("../fonts/heebo-v17-latin-700.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* heebo-900 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/heebo-v17-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v17-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v17-latin-900.woff2") format("woff2"), url("../fonts/heebo-v17-latin-900.woff") format("woff"), url("../fonts/heebo-v17-latin-900.ttf") format("truetype"), url("../fonts/heebo-v17-latin-900.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* header style start */
body {
  background: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1032px;
  padding: 0 88px;
  width: 100%;
}

.container--header {
  padding: 0;
}

.header {
  font-family: "Heebo";
  padding: 27px 0;
}

.header .menu__header {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .menu__header-list {
  text-decoration: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .menu__header-list :last-child a {
  margin-right: 0;
}

.header .menu__link {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-right: 33px;
  text-decoration: none;
}

.intro {
  font-family: 'Heebo';
  padding: 135px 0 71px 0;
}

.intro .intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.intro .intro__wrapper .intro__info {
  max-width: 497px;
}

.intro .intro__wrapper .intro__info .intro__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  margin-bottom: 40px;
  color: #21243D;
  max-width: 444px;
}

.intro .intro__wrapper .intro__info .intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
  margin-bottom: 38px;
}

.intro .intro__wrapper .intro__info .intro__button {
  width: 208px;
  height: 47px;
  left: 148px;
  top: 477px;
  background: #FF6464;
  border-radius: 2px;
  border: none;
}

.intro .intro__wrapper .intro__info .intro__button .intro__button-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

.recent-posts {
  background: #EDF7FA;
  padding: 25px 0px 30px 0px;
  font-family: 'Heebo';
}

.recent-posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}

.recent-posts__title {
  padding: 0px 20px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
  font-size: 22px;
}

.recent-posts__view-all {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 16px;
  line-height: 23px;
  color: #00A8CC;
  text-decoration: none;
}

.recent-posts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.recent-posts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 10px;
}

.recent-post {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 20px;
}

.recent-post__title {
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: inherit;
  text-decoration: none;
  margin: 0 0 17px 0;
}

.recent-post__title:hover {
  color: #FF6464;
}

.recent-post__info {
  margin: 0 0 15px 0;
  font-size: 18px;
  line-height: 26px;
}

.recent-post__info span {
  margin: 0 10px;
}

.recent-post__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  max-width: 368px;
}

.featured-works {
  font-family: 'Heebo';
  background: #fff;
  padding: 30px 0 80px 0;
}

.featured-works__title {
  padding: 0 0 20px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
  font-size: 22px;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 35px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.works__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  border-radius: 6px;
  min-height: 180px;
}

.works__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 18px;
}

.works__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: inherit;
  margin-bottom: 15px;
}

.works__info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.works__year {
  background: #142850;
  border-radius: 16px;
  width: 62px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}

.works__category {
  font-weight: 400;
  font-size: 20px;
  color: #8695A4;
  margin-left: 26px;
}

.works__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}

.footer {
  font-family: 'Heebo';
  background: #fff;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 54px;
}

.footer-icons__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243D;
  padding: 26px 0 54px 0;
}

.footer-icon {
  padding: 0 18px 0 18px;
}
/*# sourceMappingURL=style.css.map */