@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oja71b');
  src:  url('fonts/icomoon.eot?oja71b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oja71b') format('truetype'),
    url('fonts/icomoon.woff?oja71b') format('woff'),
    url('fonts/icomoon.svg?oja71b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-footer-icon-fb:before {
  content: "\e900";
}
.icon-footer-icon-group:before {
  content: "\e901";
}
.icon-footer-icon-insta:before {
  content: "\e902";
}
.icon-foo-icon-linkedin:before {
  content: "\e903";
}
