.container {
  margin: 0 auto;
  max-width: 1032px;
  padding: 0 88px;
  width: 100%;
}

.container--header {
  padding: 0;
}


.header {
  font-family: "Heebo";
  padding: 27px 0;


  .menu__header {
    display: block;
    display: flex;
    flex-wrap: wrap;
  }

  .menu__header-list {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    & :last-child a {
      margin-right: 0;
    }
  }

  .menu__link {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-right: 33px;
    text-decoration: none;


  }
}

.intro {
  font-family: 'Heebo';
  padding: 135px 0 71px 0;

  .intro__wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    .intro__info {
      max-width: 497px;

      .intro__title {
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        margin-bottom: 40px;
        color: #21243D;
        max-width: 444px;
      }

      .intro__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #21243D;
        margin-bottom: 38px;
      }

      .intro__button {
        width: 208px;
        height: 47px;
        left: 148px;
        top: 477px;
        background: #FF6464;
        border-radius: 2px;
        border: none;

        .intro__button-text {
          font-weight: 500;
          font-size: 20px;
          line-height: 29px;
          color: #FFFFFF;
        }
      }
    }
  }
}

// resent-posts style start
.recent-posts {
  background: #EDF7FA;
  padding: 25px 0px 30px 0px;
  font-family: 'Heebo';

  &__container {}

  &__header {
    display: flex;
    margin: 0 0 20px 0;
  }

  &__title {
    padding: 0px 20px 0px 0px;
    flex: 1 1 auto;
    font-weight: 400;
    font-size: 22px;
  }

  &__view-all {
    flex: 0 0 auto;
    font-size: 16px;
    line-height: 23px;
    color: #00A8CC;
    text-decoration: none;
  }

  &__items {
    display: flex;
    margin: 0 -10px;
  }

  &__column {
    flex: 0 0 50%;
    padding: 0 10px;
  }

  &__item {}
}

.recent-post {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 20px;

  &__title {
    display: inline-block;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: inherit;
    text-decoration: none;
    margin: 0 0 17px 0;

    &:hover {
      color: #FF6464;
    }
  }

  &__info {
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 26px;

    span {
      margin: 0 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    max-width: 368px;
  }
}

//  resent-posts style end
// featured-works start

.featured-works {
  font-family: 'Heebo';
  background: #fff;
  padding: 30px 0 80px 0;

  &__container {}

  &__title {
    padding: 0 0 20px 0;
    flex: 1 1 auto;
    font-weight: 400;
    font-size: 22px;
  }

  &__item {}
}

.container {}

.works {

  &__item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 35px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__image {
    flex: 0 0 246px;
    border-radius: 6px;
    min-height: 180px;
  }

  &__body {
    flex: 1 1 auto;
    padding: 0 0 0 18px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: inherit;
    margin-bottom: 15px;
  }

  &__info {
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__year {
    background: #142850;
    border-radius: 16px;
    width: 62px;
    height: 25px;
    display: inline-flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
  }

  &__category {
    font-weight: 400;
    font-size: 20px;
    color: #8695A4;
    margin-left: 26px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
  }

}

// featured-wrks end


// footer style start

.footer {
  font-family: 'Heebo';
  background: #fff;
}

.footer-container {
}
.container {
}
.footer-icons {
  display: flex;
  justify-content: center;
  padding-top: 54px;


&__text {
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243D;
  padding: 26px 0 54px 0;
}
}

.footer-icon {
  padding: 0 18px 0 18px;

}

// footer style end