/* heebo-regular - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/heebo-v17-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/heebo-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/heebo-v17-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/heebo-v17-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/heebo-v17-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/heebo-v17-latin-regular.svg#Heebo') format('svg');
    /* Legacy iOS */
}

/* heebo-500 - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/heebo-v17-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/heebo-v17-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/heebo-v17-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/heebo-v17-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/heebo-v17-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/heebo-v17-latin-500.svg#Heebo') format('svg');
    /* Legacy iOS */
}

/* heebo-700 - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/heebo-v17-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/heebo-v17-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/heebo-v17-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/heebo-v17-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/heebo-v17-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/heebo-v17-latin-700.svg#Heebo') format('svg');
    /* Legacy iOS */
}

/* heebo-900 - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/heebo-v17-latin-900.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/heebo-v17-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/heebo-v17-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/heebo-v17-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/heebo-v17-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/heebo-v17-latin-900.svg#Heebo') format('svg');
    /* Legacy iOS */
}
$font-family: 'Heebo';

/* header style start */
body {
    background: #fff;
}
